body {
  margin: 0;
  padding: 0;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  background: black;
  color: white;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

button {
  cursor: pointer;
}
/* navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#navbar li a:hover {
  color: #f7b139;
  font-weight: bolder;
}

/* Hero section */
#hero {
  height: 90vh;
  background-size: cover;
  background-image: url(img/hero4.png);
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
}
#hero h1 {
  color: rgb(105, 91, 91);
}

#hero h4 {
  color: rgb(109, 85, 85);
}
#hero button {
  background-image: url(img/button.png);
  background-color: transparent;
  border: 0;
  padding: 14px 80px;
  font-weight: 700;
  color: rgb(83, 76, 76);
}

#hero button:hover {
  color: rgb(248, 144, 53);
  font-weight: bolder;
}

/* Features section styling */
#feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.box {
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.box img {
  width: 80%;
}

.box h3 {
  font-size: 20px;
  background-color: rgb(253, 228, 192);
  color: #333;
  display: inline-block;
  margin-top: 10px;
  padding: 2px 5px;
  border-radius: 3px;
}

.box p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

/* CSS for the featured products section */

/* CSS for the featured products section */
#products {
  text-align: center;
  padding: 20px;
}

#products h2 {
  font-size: 44px;
  font-weight: bold;
}

#products p {
  font-size: 16px;
  margin-bottom: 20px;
}

#pro-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
}

#pro {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease; /* Adding transition for smooth hover effect */
}

#pro img {
  border-radius: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.des {
  padding: 3px;
  text-align: start;
}

.des span {
  display: block;
  font-size: 14px;
  color: #888;
}

.des h5 {
  font-size: 14px;
  margin: 1px 0;
}

.des h4 {
  font-size: 18px;
  margin: 6px 0;
}

.star {
  font-size: 12px;
  color: #f0a500;
}
.des a {
  text-decoration: none;
  color: rgb(15, 13, 13);
}

/* Hover effect */
#pro:hover {
  border-color: #65490b; /* Change border color on hover */
  background-color: #f0f0f0; /* Change background color on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.des i {
  margin-right: 2px;
}
.des .cart {
  bottom: 15px;
  right: 20px;
  position: absolute;
  border-radius: 50%;
  font-weight: bolder;
  font-size: x-large;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  color: white;
  height: 40vh;
  margin: 80px;
  border-radius: 10px;
}

#banner h1 span {
  color: #f0a500;
  font-weight: bolder;
  font-size: xx-large;
}

#banner button {
  background-color: white;
  border: 4px;
  padding: 14px 20px;
  font-weight: 700;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}

#banner button:hover {
  background-color: rgb(102, 133, 105);
  color: white;
}
#sm-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b17.jpg);
  min-width: 580px;
  background-size: cover;
  background-position: center;
  color: white;
  height: 50vh;
  padding: 30px;
  border-radius: 10px;
}
#sm-banner .box2 {
  background-image: url(img/banner/b10.jpg);
}

.banner-box h4 {
  margin: 0px;
}
.banner-box button {
  background-color: transparent;
  border: 1px black solid;
  padding: 14px 20px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.banner-box button:hover {
  background-color: #708778;
}

#banner3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(img/banner/b7.jpg);
  min-width: 29%;
  background-size: cover;
  background-position: center;
  color: white;
  height: 30vh;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#banner3 h2 {
  color: white;
  font-size: 20px;
  font-weight: 900;
}
#banner3 h3 {
  color: rgb(120, 38, 38);
  font-size: 14px;
  font-weight: 800;
}

#banner3 .box2 {
  background-image: url(img/banner/b4.jpg);
}

#banner3 .box3 {
  background-image: url(img/banner/b18.jpg);
}

#newsLetter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgb(58, 16, 98);
  margin: 20px 70px;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
#newsLetter input,
button {
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
}
#newsLetter button {
  background-color: #80d288;
}

#newsLetter button:hover {
  background-color: rgb(12, 161, 5);
  color: white;
}

/* Style the footer section */

#ftr {
  margin: 10px 70px;
}
#footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  border-radius: 10px;
}

.footer-content {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.intro,
.social-media {
  flex-basis: 48%;
}

.intro h3,
.social-media h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.intro p {
  font-size: 16px;
  line-height: 1.6;
}

.social-media ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-media li {
  margin-right: 15px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #ccc;
}
#mobile {
  display: none;
}
/* Responsive media queries for smaller devices */
/* media quiery for tablets */

@media (max-width: 768px) {
  #hero {
    background-image: url(img/hero1.png);
    background-position: center;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    top: 75px;
    right: -300;
    height: 100vh;
    width: 120px;
    background-color: black;
    padding: 10px;
    transition: 0.5s;
  }
  #navbar.ace {
    right: 0;
  }
  #navbar li {
    padding: 10px 0;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    margin-right: 20px;
    font-size: x-large;
    cursor: pointer;
  }
  #mobile i:hover {
    color: #f0a500;
  }
  #products h2 {
    font-size: 28px;
  }
}

/* media quiery for mobiles */

@media (max-width: 477px) {
  #hero {
    margin-left: 15px;
    background-size: cover;
    margin-top: 10px;
  }
  #hero h4 {
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 20px;
  }
  #hero h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  #hero p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #f04f39;
    font-weight: bold;
  }
  #hero button {
    color: #f0f0f0;
    background-color: #80d288;
    padding: 10px 20px;
  }
  #banner {
    height: 20vh;
    width: 80%;
    margin-left: 30px;
  }
  #banner h1 {
    font-size: 16px;
  }
  #banner h4 {
    margin-bottom: 2px;
  }

  #banner3 {
    display: flex;
    flex-direction: column;
  }
  #sm-banner {
    display: flex;
    flex-direction: column;
  }
  #sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    min-width: 29%;
    background-size: cover;
    background-position: center;
    color: white;
    height: 30vh;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    .banner-box {
      margin: 10px;
    }
  }

  .intro p {
    width: 100%;
    font-size: 14px;
  }
  .text-div h2 {
    font-size: 20px;
  }
  #pro img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  #pro-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
  }

  .box {
    text-align: center;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .box h3 {
    font-size: 16px;
  }
}
